---

# operate on the group and ensure that its state is accurate"

- name: "Ensure state for idm user group - {{ idm_user_group.name }}"
  redhat.rhel_idm.ipagroup:
    action: "{{ idm_user_group.action | default(omit) }}"
    ipaadmin_principal: "{{ ipa_admin_principal }}"
    ipaadmin_password: "{{ ipa_admin_password }}"
    name: "{{ idm_user_group.name }}"
    description: "{{ idm_user_group.description | default(omit) }}"
    state: "{{ idm_user_group.state | default('present') }}"
    external: "{{ idm_user_group.external | default(omit) }}"
    gid: "{{ idm_user_group.gid | default(omit) }}"
    group: "{{ idm_user_group.group_list | default(omit) }}"
    groups: "{{ idm_user_group.group_dict | default(omit) }}"
    membermanager_group: "{{ idm_user_group.membermanager_groups | default(omit) }}"
    membermanager_user: "{{ idm_user_group.membermanager_users | default(omit) }}"
    posix: "{{ idm_user_group.posix | default(omit) }}"
    rename: "{{ idm_user_group.rename | default(omit) }}"
    user: "{{ idm_user_group.user_list | default(omit) }}"
  tags:
    - tags_rhis_builder
    - tags_rhis_builder_idm
    - tags_idm_post_install
    - tags_idm_user_groups