127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ ansible_default_ipv4.address }}     {{ ansible_fqdn }}

{% if etc_hosts_list %}
{% for listing in etc_hosts_list %}
{{ listing.ip }}    {{ listing.fqdn }}  {{ listing.shortname if listing.shortname is defined }}
{% endfor %}
{% endif %}