---
#

- name: "Ensure the idm users configuration"
  when: idm_users is defined and (idm_users | length) > 0
  ansible.builtin.include_tasks: "ensure_user.yml"
  loop: "{{ idm_users }}"
  loop_control:
    loop_var: idm_user
  no_log: true
  tags:
    - tags_rhis_builder
    - tags_rhis_builder_idm
    - tags_idm_post_install
    - tags_idm_users