---

# Apply some basic hardening to the IdM configuration

- name: "Configure nsslapd-allow-anonymous-access"
  community.general.ldap_attrs:
    dn: "cn=config"
    attributes:
      nsslapd-allow-anonymous-access: "rootdse"  # Or "on" depending on your needs
    state: "exact"
    bind_dn: "{{ ipa_keytab_dn_vault }}"
    bind_pw: "{{ ipa_dm_password_vault }}"
    server_uri: "ldaps://{{ ansible_fqdn }}"
    validate_certs: false
  notify: "Restart_ds"
  no_log: true
  tags:
    - tags_rhis_builder
    - tags_rhis_builder_idm
    - tags_idm_post_install
    - tags_idm_harden
