---

# Ensure Automount configuration

- name: "Ensure the automount location - {{ idm_automount_location.name }}"
  redhat.rhel_idm.ipaautomountlocation:
    ipaadmin_principal: "{{ ipa_admin_principal }}"                          # required
    ipaadmin_password: "{{ ipa_admin_password }}"                            # required
    name: "{{ idm_automount_location.name }}"                                  # required
    state: "{{ idm_automount_location.state | default(omit) }}"
  tags:
    - tags_rhis_builder
    - tags_rhis_builder_idm
    - tags_idm_post_install
    - tags_idm_automounts
