---

# ensure the (typically non-idmclient) hosts defined exist

- name: "Ensure the idm id ranges configuration"
  when: idm_id_ranges is defined and (idm_id_ranges | length) > 0
  ansible.builtin.include_tasks: "ensure_id_range.yml"
  loop: "{{ idm_id_ranges }}"
  loop_control:
    loop_var: idm_id_range
  no_log: true
  tags:
    - tags_rhis_builder
    - tags_rhis_builder_idm
    - tags_idm_post_install
    - tags_idm_id_ranges
