---

# In RHEL 8 and RHEL 9 system requires umask 0022

- name: "Ensure system umask"
  ansible.builtin.command: "umask {{ ipa_required_umask }}"
  changed_when: true
  tags:
    - tags_rhis_builder
    - tags_rhis_builder_idm
    - tags_idm_pre
    - tags_idm_install
