---

# Add the idp reference

- name: "Ensure the idp reference state for - {{ idp_reference.name }}"
  redhat.rhel_idm.ipaidp:
    ipaadmin_principal: "{{ ipa_admin_principal }}"                          # required
    ipaadmin_password: "{{ ipa_admin_password }}"                            # required
    name: "{{ idp_reference.name }}"                                               # required
    auth_uri: "{{ idp_reference.auth_uri }}"                                       # required
    base_url: "{{ idp_red.base_url | default(omit) }}"
    client_id: "{{ idp_reference.client_id }}"                                     # required
    delete_continue: "{{ idp_reference.delete_continue | default(omit) }}"
    dev_auth_uri: "{{ idp_reference.device_auth_uri }}"
    idp_user_id: "{{ idp_reference.user_id_attribute }}" # e.g. 'email'
    issuer_url: "{{ idp_reference.issuer_url | default(omit) }}"
    organization: "{{ idp_reference.organization_or_realm | default(omit) }}"
    provider: "{{ idp_reference.provider | default(omit) }}"
    rename: "{{ idp_reference.rename | default(omit) }}"
    scope: "{{ idp_reference.scope | default(omit) }}"
    secret: "{{ idp_reference.secret | default(omit) }}"
    state: "{{ idp_reference.state | default(omit) }}"
    token_uri: "{{ idp_reference.token_uri | default(omit) }}"
    userinfo_uri: "{{ idp_reference.user_info_uri | default(omit) }}"
  tags:
    - tags_rhis_builder
    - tags_rhis_builder_idm
    - tags_idm_post_install
    - tags_idm_idp_config