---

- name: "Ensuring the state of habac rule - {{ idm_hbac_rule.name }}"
  redhat.rhel_idm.ipahbacrule:
    ipaadmin_principal: "{{ ipa_admin_principal }}"
    ipaadmin_password: "{{ ipa_admin_password }}"
    name: "{{ idm_hbac_rule.name }}"
    description: "{{ idm_hbac_rule.description }}"
    state: "{{ idm_hbac_rule.state | default(omit) }}"
