---

- name: "Ensuring the state of hbac service - {{ idm_hbac_service.name }}"
  redhat.rhel_idm.ipahbacsvc:
    ipaadmin_principal: "{{ ipa_admin_principal }}"
    ipaadmin_password: "{{ ipa_admin_password }}"
    name: "{{ idm_hbac_service.name }}"
    description: "{{ idm_hbac_service.description }}"
    state: "{{ idm_hbac_service.state | default(omit) }}"
  tags:
    - tags_rhis_builder
    - tags_rhis_builder_idm
    - tags_idm_post_install
