---
#

- name: "Ensure the idm password policies"
  when: idm_password_policies is defined
  ansible.builtin.include_tasks: "ensure_password_policy.yml"
  loop: "{{ idm_password_policies }}"
  loop_control:
    loop_var: pwpolicy
  no_log: true
