---

# ensure the defined sudo policy configuration - Sudo Commmands, Sudo Command Groups, Sudo Rules

# Sudo Commands
- name: "Ensure sudo command states"
  when: idm_sudo_commands is defined
  ansible.builtin.include_tasks: "ensure_sudo_command.yml"
  loop: "{{ idm_sudo_commands }}"
  loop_control:
    loop_var: idm_sudo_command
  no_log: true

# Sudo Command Groups
- name: "Ensure sudo command_group states"
  when: idm_sudo_command_groups is defined
  ansible.builtin.include_tasks: "ensure_sudo_command_group.yml"
  loop: "{{ idm_sudo_command_groups }}"
  loop_control:
    loop_var: idm_sudo_command_group
  no_log: true

# Sudo Rules
- name: "Ensure idm sudo rule states"
  when: idm_sudo_rules is defined
  ansible.builtin.include_tasks: "ensure_sudo_rule.yml"
  loop: "{{ idm_sudo_rules }}"
  loop_control:
    loop_var: idm_sudo_rule
  no_log: true
