---

# Configure the sample and user host_groups

- name: "Ensure the host groups configuration"
  when: idm_host_groups is defined
  ansible.builtin.include_tasks: "ensure_host_group.yml"
  loop: "{{ idm_host_groups }}"
  loop_control:
    loop_var: idm_host_group
  no_log: true
  tags:
    - tags_rhisam
    - tags_rhis_builder_idm
    - tags_idm_post_install
